// Place all the styles related to the SimpleCalculator controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

html, body {
  height: 100%;
}

.full_page {
  height: 100%;
}

button.operation-button {
  width: 100%;
  margin: 1rem 0;
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
  color: white;
}

button.operation-button:hover, button.operation-button:active, button.operation-button:focus {
  background-color: goldenrod;
  border-color: goldenrod;
  color: white;
}

button.operation-button:disabled {
  background-color: gray;
  border-color: gray;
  color: white;
}

input.operand-field {
  margin: 1rem 0;
}
